body{
    background-color:#dbdbdb;
    font-family: "Meiryo UI";
}
html{
    font-size:medium;
}

#Main{
    background-color:white;
    padding-bottom: 100px;
    min-height: 100vh;
    
}
.container-fluid{
    max-width: 94vw;
}

#BreadCrumb{
    background-color: rgb(238,238,238);
}

.breadcrumb{
    background-color: rgb(238,238,238);
}


.navbar{
    background-color:#003e83;
}
#Sidebar{
    background-color: #003e83;
    min-height: 100vh;
    color:white;
}
#Sidebar > a{
    color:whitesmoke;
}

#footer{
    background-color: silver;
    min-height: 20vh;
}

.Article_title{
    margin-top:20px;
    margin-bottom:30px;
}
.step{
    margin-top:50px;
}
.topic > h5{
    margin-top:15px;
}
.topic > h5 > a{
    color:#003e83;
    pointer-events: none;
}

.subtopic > a{
    color:#4783d6;
}

img{
    width:55vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px gray solid;
}
p{
    margin-top:10px;
    margin-bottom:10px;
}
h5{
    margin-top:30px;
}

#Sidebar>div>div>a{
    color:#dbdbdb;
}