
#Main{
    background-color: #a2d7dd;
    padding-bottom: 100px;
}

.navbar{
    background-color:#2792c3;
}
#Sidebar{
    background-color: #BCB09C;
    min-height: 100vh;
}

#footer{
    background-color: silver;
    min-height: 20vh;
}

.Article_title{
    margin-top:20px;
    margin-bottom:30px;
}
.step{
    margin-top:50px;
}
.topic > h5{
    margin-top:15px;
}
.topic > h5 > a{
    color:midnightblue;
}

.subtopic > a{
    color:royalblue;
}
