body{
    background-color:#f5f5da;
    font-family: "Meiryo UI";
}
#Main{
    background-color:#edfdfc;
    padding-bottom: 100px;
}

#BreadCrumb{
    background-color: #b6d2cc;
}
.breadcrumb{
    background-color: #b6d2cc;
}
.breadcrumb-item > a{
    color:#508fe6;
}
.active > a{
    color:rgb(105, 104, 104);
}

.navbar{
    background-color:#003e83;
}
#Sidebar{
    background-color: #c0b490;
    min-height: 100vh;
}

#footer{
    background-color: silver;
    min-height: 20vh;
}

.Article_title{
    margin-top:20px;
    margin-bottom:30px;
    color:#4783d6;
}
.step{
    margin-top:50px;
}
.topic > h5{
    margin-top:15px;
}
.topic > h5 > a{
    color:#003e83;
}

.subtopic > a{
    color:#4783d6;
}

img{
    width:55vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top:20px;
    margin-bottom:20px;
}