<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static//css/original.css" type="text/css">
    </head>
    <body>
        <div>
            <h1 >科目ページを上のナビゲーションバーに追加する</h1>
            <div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                上のナビゲーションバーに登録されている授業が全て表示されていない場合があります。
                全ての授業を確認したい場合は右上のメニュー(&#9312;)をクリックして確認することができます。
                また、ナビゲーションバーに表示されていない授業の左側の&#10014;をクリックしてお気に入りに追加することで
                ナビゲーションバーに表示する授業を追加することができます。
                ただし、ナビゲーションバーに追加できる授業数は15個までです。
            </div>
        </div>

    </body>
</html>