<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>
<!--checked-->

<body>
    <nav class="navbar navbar-dark ">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="fixed-top d-block d-md-none">
        <div class="container">
            <div class="row">
                <button class="btn btn-success ml-auto" onclick="location.href='./index.htm'">ホームに戻る</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-12 rounded" id="BreadCrumb">
                <ol class="breadcrumb my-auto">
                    <li class="breadcrumb-item"><a href="/templates/index.htm">Home</a></li>
                    <li class="breadcrumb-item"><a href="/templates/index.htm#topic5">「課題」欄で課題を提出する</a></li>
                    <li class="breadcrumb-item active" aria-current="page">課題提出の流れ</li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">課題提出の流れ</h3>
                    <!-- <div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                                
                                課題は授業ページの課題タブから提出できます。
                                課題タブをクリックすると課題一覧が表示され、課題タイトルをクリックすることで各課題の詳細に移動します。
                                そのページで課題が提出可能です。提出の詳細については以下をご覧ください。<br>
                                <a href="/templates/assignment_list.htm">課題一覧表の見方（提出状態などの各列の説明，ソート）</a>
                                <a href="/templates/assignment_details.htm">課題の詳細</a>
                            </div> -->
                    <div>
                        PandA上で課題を提出するには、以下の手順に従ってください。
                    </div>
                    <div class="step step1">
                        <h4>1. 「課題」ページへ遷移する</h4>
                        <div class="image clearfix">
                            <img src="../static/images/assignment_sp_step1.png" alt="step1">
                        </div>
                        <div class="instructions">
                            <p>各科目のコースサイトの左メニューから「課題」をクリックして、「課題」ページに移ってください。</p>
                        </div>
                    </div>
                    <div class="step step2">
                        <h4>2. 課題のタイトルをクリックする</h4>
                        <div class="image clearfix">
                            <img src="../static/images/assignment_sp_step2.png" alt="step2">
                        </div>
                        <div class="instructions">
                            <p>
                                サイト内の全課題の一覧が表示されます。各課題について、以下の情報が表示されます。
                            </p>
                            <ul>
                                <li>課題のタイトル</li>
                                <li>ステータス（未開始、課題提出が必要、返却、提出日時など）</li>
                                <li>学生が課題を利用できるようになる公開日</li>
                                <li>提出期限</li>
                            </ul>
                            <p>リスト内の課題のタイトルをクリックして、提出したい課題を選択してください。</p>
                        </div>
                    </div>
                    <div class="help_if">
                        <div class="instructions">
                            <p>
                                「宣誓」が必要な課題は次のページが表示されます。
                                [Agree]をクリックして課題を確認してください。<img class="sm-r" src="../static/images/assignment_sp_step3-a.png" alt="step3a">
                            </p>
                        </div>
                    </div>
                    <div class="step step3">
                        <h4>3. 提出内容を入力、または提出ファイルを添付する</h4>
                        
                        <div class="image clearfix">
                            <img src="../static/images/assignment_sp_step3-b.png" alt="step3b">
                        </div>
                        <div class="instructions">
                            <p>
                                課題の内容や添付ファイル、期限などの詳細情報は<font color="#ff0000">&#9312;</font>に示されています。<br>
                            <p>
                                ページ下部のテキストエディタ(<font color="#ff0000">&#9313;</font>)より提出内容を直接入力してください。<br>
                                もしくは[ファイルを選択](<font color="#ff0000">&#9314;</font>)をクリックし、自分のコンピューターから提出ファイルを選択し添付してください。<br>
                                課題によってはどちらか一方のみしか使用できない場合があります。先生の指示に従ってください。<br>
                            </p>
                            <p>[プレビュー] をクリックして提出課題をプレビューしたり、[下書きを保存]をクリックして提出課題を保存し、後で提出したりできます。<br>
                                [キャンセル]をクリックすると、保存または提出せずに課題を終了することができます。</p>
                            <p>
                                入力または添付が完了したらページ最下部の[進める](<font color="#ff0000">&#9315;</font>)をクリックして次のステップに進んでください。
                            </p>
                            <p>
                                ※自分のコンピューターから提出ファイルを添付した場合、ファイル名、ファイルサイズ、アップロード日時が「添付ファイル」の下に表示されます。<br>
                                間違ったファイルを選択した場合は、[削除] をクリックして添付ファイルを削除することができます。
                            </p>
                        </div>
                    </div>
                    <div class="step step4">
                        <h4>4.課題を提出する</h4>
                        <div class="image clearfix">
                            <img src="../static/images/assignment_sp_step4.png" alt="step4">
                        </div>
                        <div class="instructions">
                            <p>
                                課題を提出する準備ができたら、[提出]をクリックして課題の提出を完了してください。<br>
                                まだ提出する準備ができていない場合、[編集]を押して前のページに戻り、[プレビュー] をクリックして提出課題をプレビューするか、[下書きを保存]
                                をクリックして提出課題を保存し、後で提出することができます。<br>
                            </p>
                        </div>
                    </div>
                    <div class="step step5">
                        <h4>5.提出物の確認</h4>
                        <div class="image clearfix">
                            <img src="../static/images/assignment_sp_step5.png" alt="step5">
                        </div>
                        <div class="instructions">
                            <p>
                                課題を提出すると、画面上に確認メッセージが表示されます。<br>
                                <strong style="color:red">必ず提出IDが発行されていることを確認してください。IDが発行されていることが課題を提出した証明になります。</div></strong>
                                また、全学メールアドレスに提出IDが記載された課題提出確認のメールが送信されますので
                                必ず保存しておいてください。
                            </p>
                        </div>
                    </div>
                    <div class="step step6">
                        <h4>6.返却された提出物の確認</h4>
                        <div class="image clearfix">
                            <img src="../static/images/assignment_sp_step6.png" alt="step6">
                        </div>
                        <div class="instructions">
                            <p>
                                課題が返却されると<font color="#ff0000">&#9312;</font>に課題の詳細と成績等が表示されます。<br>
                                成績(<font color="#0000ff">&#9313;</font>)は点数・合格/不合格・チェックマーク・コメントのいずれかの形でつけられます。<br>
                                再提出が求められた場合は、同様の手順で再提出を行ってください。
                            </p>
                        </div>
                    </div>
                </div>
            
            <div class="col-md-2 d-none d-md-flex flex-column rounded" id="Sidebar">
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic1" aria-expanded="false" aria-controls="Side_topic1"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>PandAにログインする
                </a>
                <div class="collapse" id="Side_topic1">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/how_to_login.htm">PandAへのログイン方法</a>
                            </li>
                            <li>
                                <a href="/templates/instructions_of_portal.htm">PandAのログイン前の画面の説明</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic2" aria-expanded="false" aria-controls="Side_topic2"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>各科目のコースサイトにアクセスする
                </a>
                <div class="collapse" id="Side_topic2">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/what_is_coursesite.htm">各科目のコースサイトでできること</a>
                            </li>
                            <li>
                                <a href="/templates/add_coursesite.htm">画面上部の科目タブに各科目のコースサイトを追加・削除する</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic3" aria-expanded="false" aria-controls="Side_topic3"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>授業資料を閲覧・ダウンロードする
                </a>
                <div class="collapse" id="Side_topic3">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/where_are_recources.htm">授業資料ページへの行き方</a>
                            </li>
                            <li>
                                <a href="/templates/instructions_of_resources.htm">授業資料ページの説明</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic4" aria-expanded="false" aria-controls="Side_topic4"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>Zoomを利用する
                </a>
                <div class="collapse" id="Side_topic4">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li class="subtopic">
                                <a href="/templates/zoom.htm">Zoom授業にアクセスする</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic5" aria-expanded="false" aria-controls="Side_topic5"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>「課題」欄で課題を提出する
                </a>
                <div class="collapse" id="Side_topic5">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li class="subtopic"><a href="/templates/assignment_submisson_process.htm">課題提出の流れ</a>
                            </li>
                            <li class="subtopic">
                                <a href="/templates/assignment_list.htm">課題一覧表の見方（提出状態などの各列の説明，ソート）</a>
                            </li>
                            <li class="subtopic">
                                <a href="/templates/assignment_details.htm">フィードバックを閲覧する</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic6" aria-expanded="false" aria-controls="Side_topic6"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>「テスト・クイズ」でテストを受ける・クイズに答える
                </a>
                <div class="collapse" id="Side_topic6">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li class="subtopic"><a href="/templates/test_process.htm">テスト・クイズを受験する流れ</a></li>
                            <li class="subtopic"><a href="/templates/test_feedback.htm">テスト・クイズのフィードバックを確認する</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic7" aria-expanded="false" aria-controls="Side_topic7"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>「提出箱」でファイルを提出する
                </a>
                <div class="collapse" id="Side_topic7">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li class="subtopic"><a href="/templates/submission_box_submission_process.htm">「提出箱」でファイルを提出する流れ</a>
                            </li>
                            <li class="subtopic">
                                <a href="/templates/instructions_of_submission_box.htm">提出箱ページの説明</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic8" aria-expanded="false" aria-controls="Side_topic8"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>成績を見る
                </a>
                <div class="collapse" id="Side_topic8">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/view_gradebook.htm">成績簿ツールを使う</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic9" aria-expanded="false" aria-controls="Side_topic9"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>メディアギャラリで授業動画を見る
                </a>
                <div class="collapse" id="Side_topic9">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/where_is_media_gallery.htm">メディアギャラリにアクセスする</a>
                            </li>
                            <li>
                                <a href="/templates/instructions_of_media_gallery.htm">メディアギャラリページの説明</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic10" aria-expanded="false" aria-controls="Side_topic10"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>授業のお知らせを確認する
                </a>
                <div class="collapse" id="Side_topic10">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/look_announces_subject.htm">各科目ごとのお知らせを見る</a>
                            </li>
                            <li>
                                <a href="/templates/look_announces_all.htm">全科目のお知らせを一覧で見る</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic11" aria-expanded="false" aria-controls="Side_topic11"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>ユーザーの各設定を変更する
                </a>
                <div class="collapse" id="Side_topic11">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/language_site_settings.htm">ユーザー設定を変更する(言語/科目の表示・非表示)</a>
                            </li>
                            <li>
                                <a href="/templates/settings_overview.htm">概要ページ：カレンダー、今日のメッセージ、メッセージセンターに関する個別の設定</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic12" aria-expanded="false" aria-controls="Side_topic12"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>その他
                </a>
                <div class="collapse" id="Side_topic12">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/forum_chat.htm">フォーラムやチャットルームでメッセージを投稿/閲覧する</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <a data-toggle="collapse" href="#Side_topic13" aria-expanded="false" aria-controls="Side_topic13"
                    class="Sidebar_collapse">
                    <i class="fas fa-plus SidebarToggleIcon"></i>[付録] PandAshを利用する
                </a>
                <div class="collapse" id="Side_topic13">
                    <div class=" d-flex flex-column">
                        <ul>
                            <li>
                                <a href="/templates/what_is_pandash.htm">PandAshとは</a>
                            </li>
                            <li>
                                <a href="/templates/pandash_login.htm">PandAshにログインする</a>
                            </li>
                            <li>
                                <a href="/templates/check_assignments_Bypandash.htm">PandAshで課題を確認する</a>
                            </li>
                            <li>
                                <a href="/templates/download_resources_Bypandash.htm">PandAshで授業資料をダウンロードする</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="../static/js/Change_ToggleIcon.js"></script>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <small class="ml-auto mt-5">Copyright 2021 Institute for Information Management and Communication, Kyoto University. All rights reserved.</small>


            </div>
        </div>
    </footer>

</body>

</html>