<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="container-fluid" style="max-width: 90vw;">
        <div class="row">
            <div class="col-md-10 col-sm-12 rounded" id="BreadCrumb">
                <div>
                    <ol class="breadcrumb my-auto">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">「課題」欄で課題を提出する</a></li>
                        <li class="breadcrumb-item active" aria-current="page">フィードバックを閲覧する</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">フィードバックを閲覧する</h3>
                    <div
                        class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                        教授が課題を採点すると、課題ツールでそのフィードバックを閲覧できます。<br>
                        課題のフィードバックを閲覧するには、以下の手順を実行してください。
                    </div>
                    <div class="step step1">
                        <h4>1. 「課題」ページへ遷移する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>授業ページの課題タブをクリックしてください</p>
                        </div>
                    </div>
                    <div class="step step2">
                        <h4>2. 課題のタイトルをクリックする</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>閲覧したい課題のタイトルをクリックしてください。</p>
                        </div>
                    </div>
                    <div class="step step3" id="feedback">
                        <h4>3. フィードバックを閲覧する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>課題の詳細とフィードバックが表示されます。表示内容を以下に列挙します。</p>
                            <ol>
                                <li>タイトル、学生名、提出日、評点、提出履歴</li>
                                <li>課題の説明、課題添付ファイル</li>
                                <li>提出課題、あなたの提出添付ファイル</li>
                                <li>教授のコメント、コメント添付ファイル</li>
                            </ol>
                        </div>
                    </div>
                    <div class="step step4">
                        <h5>・再提出可能かどうかを確認する</h5>
                        <div class="image">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>再提出が可能/要求されている場合は詳細ページに表示されます。
                                課題の提出と同様にして再提出を行います。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-none d-md-flex flex-column rounded" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Topic1" aria-expanded="false" aria-controls="Topic1">
                    Topic1
                </a>
                <div class="collapse" id="Topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>