<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>
<!--checked-->

<body>
    <nav class="navbar navbar-dark ">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-12 rounded" id="BreadCrumb">
                <ol class="breadcrumb my-auto">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">「課題」欄で課題を提出する</a></li>
                    <li class="breadcrumb-item active" aria-current="page">課題提出の流れ</li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">課題提出の流れ</h3>
                    <!-- <div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                                
                                課題は授業ページの課題タブから提出できます。
                                課題タブをクリックすると課題一覧が表示され、課題タイトルをクリックすることで各課題の詳細に移動します。
                                そのページで課題が提出可能です。提出の詳細については以下をご覧ください。<br>
                                <a href="/templates/assignment_list.htm">課題一覧表の見方（提出状態などの各列の説明，ソート）</a>
                                <a href="/templates/assignment_details.htm">課題の詳細</a>
                            </div> -->
                    <div>
                        PandA上で課題を提出するには、以下の手順に従ってください。
                    </div>
                    <div class="step step1">
                        <h4>1. 「課題」ページへ遷移する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>各授業ページの「課題」タブをクリックして、「課題」ページに移ってください。</p>
                        </div>
                    </div>
                    <div class="step step2">
                        <h4>2. 課題のタイトルをクリックする</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                サイト内の全課題の一覧が表示されます。各課題について、以下の情報が表示されます。
                            </p>
                            <ul>
                                <li>課題のタイトル</li>
                                <li>ステータス（未開始、課題提出が必要、返却、提出日時など）</li>
                                <li>学生が課題を利用できるようになる公開日</li>
                                <li>提出期限</li>
                            </ul>
                            <p>リスト内の課題のタイトルをクリックして、提出したい課題を選択してください。</p>
                        </div>
                    </div>
                    <div class="step step3">
                        <h4>3. 提出内容を入力、または提出ファイルを添付する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                ページ下部のテキストエディタより提出内容を直接入力してください。<br>
                                もしくは[ファイルを選択]をクリックし、自分のコンピューターから提出ファイルを選択し添付してください。<br>
                                課題によってはどちらか一方のみしか使用できない場合があります。先生の指示に従ってください。
                            </p>
                            <p>
                            <div class="image clearfix">
                                <img src="" alt="">screenshot
                            </div>
                            <div class="instructions">
                                自分のコンピューターから提出ファイルを添付した場合、ファイル名、ファイルサイズ、アップロード日時が「添付ファイル」の下に表示されます。<br>
                                間違ったファイルを選択した場合は、[削除] をクリックして添付ファイルを削除することができます。
                            </div>
                            </p>

                        </div>
                    </div>
                    <div class="step step5">
                        <h4>4.課題を提出する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                課題を提出する準備ができたら、[提出]をクリックして課題の提出を完了してください。<br>
                                まだ提出する準備ができていない場合、[プレビュー] をクリックして提出課題をプレビューするか、[下書きを保存]
                                をクリックして提出課題を保存し、後で提出することができます。<br>
                                [キャンセル]をクリックすると、保存または提出せずに課題を終了することができます。
                            </p>
                        </div>
                    </div>
                    <div class="step step6">
                        <h4>5.提出物の確認</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                課題を提出すると、画面上に確認メッセージが表示されます。<br>
                                また、KULASISに登録したメールアドレスに課題提出確認のメールが送信されます。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-none d-md-flex flex-column rounded" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Topic1" aria-expanded="false" aria-controls="Topic1">
                    Topic1
                </a>
                <div class="collapse" id="Topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>