<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static//css/original.css" type="text/css">
    </head>
    <body>
        <div>
            <h1>課題提出の流れ</h1>
            <!-- <div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                
                課題は授業ページの課題タブから提出できます。
                課題タブをクリックすると課題一覧が表示され、課題タイトルをクリックすることで各課題の詳細に移動します。
                そのページで課題が提出可能です。提出の詳細については以下をご覧ください。<br>
                <a href="/templates/assignment_list.htm">課題一覧表の見方（提出状態などの各列の説明，ソート）</a>
                <a href="/templates/assignment_details.htm">課題の詳細</a>
            </div> -->
            <div class="step step1">
                <h2>「課題」ページへ遷移する</h2>
                <div class="image clearfix">
                    <img src="" alt="">screenshot
                </div>
                <div class="instructions">
                    <p>授業ページの課題タブをクリックする</p>
                </div>
            </div>
            <div class="step step2">
                <h2>課題のタイトルをクリックする</h2>            
                <div class="image clearfix">
                    <img src="" alt="">screenshot
                </div>
                <div class="instructions">
                    <p>
                        サイト内の全課題の一覧が表示されます。各課題について、以下の情報が表示されます。
                    </p>
                    <ol>
                        <li>課題のタイトル</li>
                        <li>ステータス（未開始、課題提出が必要、返却、提出日時など）</li>
                        <li>学生が課題を利用できるようになる公開日</li>
                        <li>提出期限</li>
                    </ol>
                    <p>リスト内の課題のタイトルをクリックして、提出したい課題を選択してください。</p>
                </div>
            </div>
            <div class="step step3">
                <h2>課題を入力・添付する</h2>
                <div class="image clearfix">
                    <img src="" alt="">screenshot
                </div>
                <div class="instructions">
                    <p>課題をインラインで入力したり、ファイルを添付したりします。
                        課題の設定によりどちらか一方のみしか使用できない場合もあります。インストラクターの指示通りの方法で提出してください。</p>
                    <ol>
                        <li>
                            リッチテキストエディタを使用して、課題テキストエリアに提出課題のテキストを入力してください。
                        </li>
                        <li>
                            添付ファイルの下で、「ファイルを選択」ボタンをクリックして、コンピュータからアップロードするファイルを選択してください。
                        </li>
                    </ol>
                </div>
            </div>
            <div class="step step4">
                <h2>添付ファイルを見る</h2>
                <div class="image clearfix">
                    <img src="" alt="">screenshot
                </div>
                <div class="instructions">
                    ファイルを添付すると、ファイル名、ファイルサイズ、アップロードのタイムスタンプが「添付ファイル」の下に表示されます。
                    間違ったファイルを選択した場合は、[削除] をクリックして添付ファイルを削除することができます。
                </div>
            </div>
            <div class="step step5">
                <h2>課題を提出する</h2>
                <div class="image clearfix">
                    <img src="" alt="">screenshot
                </div>
                <div class="instructions">
                    課題を提出する準備ができたら、提出ボタンをクリックして課題の提出を完了します。
                    まだ提出する準備ができていない場合、[プレビュー] をクリックして提出課題をプレビューするか、[下書きを保存] をクリックして提出課題を保存し、後で提出することができます。
                    キャンセルをクリックすると、保存または提出せずに課題を終了することができます。
                </div>
            </div>
            <div class="step step6">
                <h2>提出物の確認</h2>
                <div class="image clearfix">
                    <img src="" alt="">screenshot
                </div>
                <div class="instructions">
                    課題を提出すると、画面上に確認メッセージが表示されます。
                    さらに、提出した課題の確認メールが送信されます。
                </div>
            </div>
        </div>
    </body>
</html>