<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>
<!--checked-->

<body>
    <nav class="navbar navbar-dark ">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="fixed-top d-block d-md-none">
        <div class="container">
            <div class="row">
                <button class="btn btn-success ml-auto" onclick="location.href='./index.htm'">ホームに戻る</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-12 rounded" id="BreadCrumb">
                <ol class="breadcrumb my-auto">
                    <li class="breadcrumb-item"><a href="/templates/index.htm">Home</a></li>
                    <li class="breadcrumb-item"><a href="/templates/external_tools.htm"
                            aria-current="page">外部サイト、ツールを使用する</a></li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">外部サイト、ツールを使用する</h3>
                    <div>
                        Pandaで使用可能な外部サイトやツールの使い方を説明します。
                    </div>
                    <div class="step step1">
                        <h4>Zoomに参加する</h4>
                        <div class="image">
                            <img class="two_first" src="/static/images/zoom_step1.png" alt="zoomポップアップウィンドウを開く"><img class="two_second" src="/static/images/zoom_upcoming.png" alt="zoomに参加する">
                        </div>
                        <div class="instructions">
                            <p>各授業ページの「Zoom(KU License)」タブをクリックすると以下のようにポップアップウィンドウが表示されます。<br>
                                [Join]ボタンでZoom授業に参加できます。<br>
                            </p>
                            <p>
                                「Upcoming Meetings」タブでは今後のZoom授業の予定を確認できます。<br>
                            </p>
                        </div>
                        <div>
                            <img class="two_first" src="/static/images/zoom_previous.png" alt="zoomの履歴"><img class="two_second" src="/static/images/zoom_recording.png" alt="zoom録画データ">
                        </div>
                        <div class="instructions">
                            <p>
                                「Previous Meetings」では過去に行なったZoom授業の履歴を確認できます。<br>
                                「Cloud Recording」ではZoom授業の録画データを閲覧できます。
                            </p>
                        </div>
                    </div>
                    <div class="step step2">
                        <h4>...</h4>
                        <div class="image">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-none d-md-flex flex-column rounded" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Side_topic1" aria-expanded="false" aria-controls="Side_topic1">
                    <i class="fas fa-plus"></i>
                    Topic1

                </a>
                <div class="collapse" id="Side_topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>