<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>
<!--checked-->

<body>
    <nav class="navbar navbar-dark">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="fixed-top d-block d-md-none">
        <div class="container">
            <div class="row">
                <button class="btn btn-success ml-auto" onclick="location.href='./index.htm'">ホームに戻る</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-12 rounded" id="BreadCrumb">
                <ol class="breadcrumb my-auto">
                    <li class="breadcrumb-item"><a href="/templates/index.htm">Home</a></li>
                    <li class="breadcrumb-item"><a href="templates/index#topic11">その他</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a
                            href="/templates/forum_chat.htm">フォーラムやチャットルームでメッセージを投稿・閲覧する</a></li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">フォーラムやチャットルームでメッセージを投稿・閲覧する</h3>
                    <div
                        class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                        フォーラムやチャットを使用すると、教授や同じ授業を受けている学生とコミュニケーションをとることができます。
                    </div>
                    <div class="sub_title" style="margin-top:40px;">
                        <h4>● フォーラムを使用する</h4>
                    </div>
                    <div class="step step1">
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <h6>「フォーラム」を使用するには、授業ページのフォーラムタブをクリックしてください。「フォーラム」ページに移動できます。</h6>
                    </div>
                    <div class="step step2">

                        <h5>- スレッドを閲覧する/スレッドに投稿する</h5>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                閲覧・投稿したいスレッドのタイトルをクリックすると、スレッド画面に移ります。<br>
                                スレッド画面からコメントを閲覧、新しいコメントを投稿することができます。<br>
                                また、上部の[メッセージ内容を表示]をクリックしてすべてのスレッドを一覧で閲覧することも可能です。
                            </p>
                        </div>
                    </div>
                    <div class="step step3">
                        <h5>- 新しいスレッドを作成する</h5>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                新たに会話を始める場合は[新しいスレッドを作成]をクリックしてください。<br>
                                スレッドタイトルと第一メッセージを入力して[投稿]をクリックすると、スレッドが作成されます。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sub_title" style="margin-top:60px;">
                    <h4>● チャットルームを使用する</h4>
                </div>
                <div class="step step1">
                    <div class="image clearfix">
                        <img src="" alt="">screenshot
                    </div>
                    <div class="instructions">
                        <h6>「チャットルーム」を使用するには、授業ページのチャットルームタブをクリックしてください。「チャットルーム」ページに移動できます。</h6>
                    </div>
                </div>
                <div class="step step2">
                    <h5>- チャットを投稿・閲覧する</h5>
                    <div class="image clearfix">
                        <img src="" alt="">screenshot
                    </div>
                    <div class="instructions">
                        <p>
                            「チャットルーム」ページではメッセージ一覧が表示され、投稿されたメッセージを閲覧できます。<br>
                            メッセージを投稿するには、画面下部のテキストボックスに投稿内容を入力し、[メッセージを追加]を押してください。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-none d-md-flex flex-column rounded" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Side_topic1" aria-expanded="false" aria-controls="Side_topic1">
                    <i class="fas fa-plus"></i>
                    Topic1

                </a>
                <div class="collapse" id="Side_topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>