<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="container-fluid" style="max-width: 90vw;">
        <div class="row">
            <div class="col-md-10 col-sm-12" id="BreadCrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <!-- トピックを羅列する -->
                <div>
                    <h3>PandA とは？</h3>
                    <div>PandAというのは、京都大学情報環境機構が平成25年に運用を開始した学習支援システムの名称です。
                        <br>学習支援システムは授業と連動するコンテンツをブラウザから教員と学生が利用するサービスです。このサービスを受けるには学生アカウント(ECS-ID)または教職員アカウント(SPS-ID)が必要です。
                    </div>
                    <div>
                        <ul>
                            <li class="topic">
                                <h4><a href="#">PandAにログインする</a></h4>
                                <ul>
                                    <li class="subtopic"><a href="/templates/how_to_login.htm">PandAへのログイン方法</a></li>
                                    <li class="subtopic"><a
                                            href="/templates/instructions_of_portal.htm">PandAのログイン前の画面の説明</a></li>
                                </ul>
                            </li>
                            <li class="topic">
                                <h4><a href="#">科目ページにアクセスする</a></h4>
                                <ul>
                                    <li class="subtopic"><a href="/templates/what_is_coursesite.htm">科目ページとは</a></li>
                                    <li class="subtopic"><a href="/templates/add_coursesite.htm">科目ページを上のタブに追加する</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="topic">
                                <h4><a href="#">授業資料を閲覧・ダウンロードする</a></h4>
                                <ul>
                                    <li class="subtopic"><a href="/templates/where_are_recources.htm">授業資料ページへの行き方</a>
                                    </li>
                                    <li class="subtopic"><a
                                            href="/templates/instructions_of_resources.htm">授業資料ページの使い方</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="topic">
                                <h4><a href="#">「課題」欄で課題を提出する</a></h4>
                                <ul>
                                    <li class="subtopic"><a
                                            href="/templates/assignment_submisson_process.htm">課題提出の流れ</a>
                                    </li>
                                    <li class="subtopic">
                                        <a href="/templates/assignment_list.htm">課題一覧表の見方（提出状態などの各列の説明，ソート）</a>
                                    </li>
                                    <li class="subtopic">
                                        <a href="/templates/assignment_details.htm">課題詳細の見方（テキストエディタ，添付，再提出）</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="topic">
                                <h4>
                                    <a href="#">「テスト・クイズ」でテストを受ける・クイズに答える</a>
                                </h4>
                                <ul>
                                    <li class="subtopic"><a href="#">課題提出の大まかな流れ</a></li>
                                    <li class="subtopic"><a href="#">テスト一覧の見方</a></li>
                                </ul>
                            </li>
                            <li class="topic">
                                <h4><a href="#">「提出箱」で課題を提出する</a></h4>
                            </li>
                            <li class="topic">
                                <h4><a href="#">成績を見る</a></h4>
                            </li>
                            <li class="topic">
                                <h4><a href="#">メディアギャラリで授業動画を見る</a></h4>
                            </li>
                            <li class="topic">
                                <h4><a href="#">授業のお知らせを確認する</a></h4>
                            </li>
                            <li class="topic">
                                <h4>
                                    <a href="#">フォーラムやチャットルームでメッセージを投稿/閲覧する</a>
                                </h4>
                            </li>
                            <li class="topic">
                                <h4>
                                    <a href="#">外部サイト、ツールを利用する(Zoom, Turn it in, BookRoll など)</a>
                                </h4>
                            </li>
                            <li class="topic">
                                <h4><a href="#">ユーザーの各設定を変える</a></h4>
                                <ul>
                                    <li class="subtopic">
                                        <a href="#">言語設定/科目の表示・非表示設定</a>
                                    </li>
                                    <li class="subtopic">
                                        <a href="#">概要ページ：カレンダー、今日のメッセージ、メッセージセンターに関する個別の設定</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-column" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Topic1" aria-expanded="false" aria-controls="Topic1">
                    Topic1
                </a>
                <div class="collapse" id="Topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>