<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static//css/original.css" type="text/css">
    </head>
    <body>
        <div>
            <h1 >授業資料ページの使い方</h1>
            <div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                授業資料ページについて、下の画面において番号で振り分けられた各部分について説明します。<br>
                （スクリーンショットが入ります）
                <h2>1.一覧表示の各列の名前</h2>
					<p>　1に書いてあるのは並べられている授業資料の各列の名称です。タイトル、アクセス、作成者などがありますが、このうちアクセス以外はその文字をクリックすることで、その列の内容で授業資料を並べ替えることができます。逆順で並び替えたい場合はもう一回クリックしてください。</p>
                    <p>　なお、デフォルトではタイトルで並べ替えてあります。</p>
            </div>
        </div>

    </body>
</html>