<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static//css/original.css" type="text/css">
    </head>
	<body>
        <div>
			<h1>PandAのログイン前の画面の説明</h1>
			<div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
				<p>　<a href=https://panda.ecs.kyoto-u.ac.jp/portal/>https://panda.ecs.kyoto-u.ac.jp/portal/</a>にアクセスしたとき、ログイン前は下のような画面になっていると思います。画面の各エリアについて説明します。</p>
				<p>（スクリーンショットが入ります）</p>
				<h2>1.ログインボタン</h2>
					<p>　1のエリアはログインボタンです。ログインボタンをクリックすると、ログイン画面に移り、ECS-IDとパスワードの入力を求められます。</p>
				<h2>2.ツールバー</h2>
					<p>　PandAの元となっているサービスSakaiについてです。特に見なくても日常的にPandAを利用するうえで問題ありません。</p>
				<h2>3.PandAの利用法解説</h2>
					<p>　主にPandAを使い慣れていない方々へ向けて、PandAの使い方を紹介しています。</p>
				<h2>4.PandAに関するお知らせ</h2>
					<P>　PandAに関するお知らせが掲載されています。システム障害やメンテナンスなどのメッセージも掲載されるため、たまにチェックするようにしましょう。</P>
			</div>
		</div>
	</body>
</html>
