<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark ">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="container-fluid" style="max-width: 90vw;">
        <div class="row">
            <div class="col-md-10 col-sm-12 rounded" id="BreadCrumb">
                <ol class="breadcrumb my-auto">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">「課題」欄で課題を提出する</a></li>
                    <li class="breadcrumb-item active" aria-current="page">課題提出の流れ</li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">設定を変更する</h3>
                    <div>
                        PandA上の設定を変更するには、以下の手順に従ってください。
                        なお、言語設定で使用できる言語はEnglish/日本語です。
                    </div>
                    <div class="step step1">
                        <h4>1. 「ホーム」ページへ遷移する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>上部ナビゲーションバーの[ホーム]ボタンをクリックする。</p>
                        </div>
                    </div>
                    <div class="step step2">
                        <h4>2. 「設定」タブをクリックする</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                設定できる以下の項目が表示されます。
                            </p>
                            <ul>
                                <li><a href="#step3">通知</a></li>
                                <li><a href="#step4">タイムゾーン</a></li>
                                <li><a href="#step5">言語</a></li>
                                <li><a href="#step6">サイト</a></li>
                                <li><a href="#step7">エディタ</a></li>
                            </ul>
                            <p>上記の項目をクリックして変更したい項目のページに遷移してください。</p>
                        </div>
                    </div>
                    <div class="step step3" id="step3">
                        <h4>通知</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                ここでは授業における各課題やお知らせをメールで受け取る際の設定を行えます。
                            </p>
                        </div>
                    </div>
                    <div class="step step4" id="step4">
                        <h4>タイムゾーン</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                ここではPandA上のカレンダーなどのタイムゾーンの設定を行えます。
                            </p>
                        </div>
                    </div>
                    <div class="step step5" id="step5">
                        <h4>言語</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                ここではPandA上の言語の設定を行います。Englishまたは日本語が選択可能です。
                            </p>
                        </div>
                    </div>
                    <div class="step step6" id="step6">
                        <h4>サイト</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                ここでは授業ページの表示設定を行えます。サイトタブの表示フォーマットについてはサイトタイトル
                                とサイト短文説明が同じである授業が多数のため変更が見えにくくなっています。
                                下部のサイトドローワーから非表示にチェックを入れるとナビゲーションバー(1)、サイトドローワー(2)から削除され
                                再度表示にするまでアクセスしづらくなるためご注意ください。
                            </p>
                        </div>
                    </div>
                    <div class="step step7" id="step7">
                        <h4>エディタ</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                ここではエディタツールの表示設定を行えます。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-column rounded" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Topic1" aria-expanded="false" aria-controls="Topic1">
                    Topic1
                </a>
                <div class="collapse" id="Topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>