<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="container-fluid" style="max-width: 90vw;">
        <div class="row">
            <div class="col-md-10 col-sm-12" id="BreadCrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">「テスト・クイズ」でテストを受ける・クイズに答える</a></li>
                    <li class="breadcrumb-item active" aria-current="page">テスト・クイズを受験する流れ</li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">テスト・クイズを受験する流れ</h3>
                    <div
                        class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                        <strong>テスト受験のヒント - </strong>試験中に起こりうる問題を避けるためのヒントです。よくお読みください。
                        <ul class="mt-1">
                            <li>
                                Firefox、Google Chrome、Internet Explorerの最新バージョンなど、PandAにサポートされているウェブブラウザを使用してください。
                            </li>
                            <li>
                                テスト中に複数のウィンドウやタブを開いていないこと、信頼できるインターネット環境があることを確認してください。
                            </li>
                            <li>
                                ブラウザの戻る・進むボタンは使用しないでください。
                            </li>
                            <li>
                                時間制のテストの場合、一度テストを開始すると、カウントダウンが始まり停止しません。<br>
                                インターネットに接続できなくなったり、ブラウザがクラッシュしたり、ブラウザを終了して閉じたりした場合でもカウントダウンは停止しません。
                            </li>
                            <li>
                                [スタート]や[成績評価のための提出]を複数回押さないでください。
                            </li>
                        </ul>
                    </div>
                    <div class="step step1">
                        <h4>「テスト・クイズ」ページへ遷移する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>授業ページの「テスト・クイズ」タブをクリックする</p>
                        </div>
                    </div>
                    <div class="step step2">
                        <h4>テスト・クイズのタイトルをクリックする</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                受験したいテスト・クイズのタイトルをクリックして受験してください。
                            </p>
                        </div>
                    </div>
                    <div class="step step3">
                        <h4>テスト・クイズを開始する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>テスト・クイズの概要が表示され、評価、期限、テスト時間、および許可されている提出回数を確認できます。
                                テストを開始する準備ができたら、[スタート]をクリックします。</p>
                        </div>
                    </div>
                    <div class="step step4">
                        <h4>各質問に答える</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <ul>
                                <li>
                                    [目次]をクリックして、別の問題にジャンプすることができます(許可されている場合のみ)。
                                </li>
                                <li>
                                    テストが時間制の場合、残り時間がページの上部に表示されます。
                                </li>
                                <li>
                                    問題が下部に表示されます。回答を選択するか、フィールドに入力してください。
                                </li>
                                <li>
                                    画面の右側の問題の進捗状況パネルでは、回答済みおよび未回答の問題の進捗状況を確認できます(設定されている場合のみ)。
                                    また、パネル内の問題番号をクリックして別の問題に遷移することも可能です。
                                </li>
                                <li>
                                    前の問題に戻るには[前]をクリックしてください(許可されている場合のみ)。
                                </li>
                                <li>
                                    問題に回答したら、[次へ] をクリックして回答を保存し、次の問題に進みます。
                                </li>
                                <li>
                                    [保存]をクリックすると、回答を保存しテストを一時中断することができます。
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="step step5">
                        <h4>テスト・クイズを提出する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            すべての質問に回答したら、[評価のために提出]をクリックして提出を完了してください。
                            <strong>[保存]を押しただけでは提出できていません</strong>。ご注意ください。
                        </div>
                    </div>
                    <div class="step step6">
                        <h4>提出を確定する</h4>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            本当にテスト・クイズを提出してもよいか確認するように促されます。
                            よく確認のうえ、 [評価のために提出] をクリックして、提出を確定してください。
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-column" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Topic1" aria-expanded="false" aria-controls="Topic1">
                    Topic1
                </a>
                <div class="collapse" id="Topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>