<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>
<!--checked-->

<body>
    <nav class="navbar navbar-dark ">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="container-fluid" style="max-width: 90vw;">
        <div class="row">
            <div class="col-md-10 col-sm-12 rounded" id="BreadCrumb">
                <ol class="breadcrumb my-auto">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">「テスト・クイズ」でテストを受ける・クイズに答える</a></li>
                    <li class="breadcrumb-item active" aria-current="page">テスト・クイズのフィードバックを確認する</li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">テスト・クイズのフィードバックを確認する</h3>
                    <!-- <div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                                
                                課題は授業ページの課題タブから提出できます。
                                課題タブをクリックすると課題一覧が表示され、課題タイトルをクリックすることで各課題の詳細に移動します。
                                そのページで課題が提出可能です。提出の詳細については以下をご覧ください。<br>
                                <a href="/templates/assignment_list.htm">課題一覧表の見方（提出状態などの各列の説明，ソート）</a>
                                <a href="/templates/assignment_details.htm">課題の詳細</a>
                            </div> -->
                    テスト・クイズの成績や採点者のコメントを確認するには、以下の手順を実行してください。

                    <div class="step step1">
                        <h6>1. 授業ページの「テスト・クイズ」タブをクリックして、「テスト・クイズ」ページに移ってください。</h6>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                    </div>
                    <div class="step step2">
                        <h6>2. テスト・クイズの「フィードバック」をクリックしてください。</h6>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <b>「フィードバック」ボタンがない場合</b>：テスト・クイズの設定により、フィードバックが利用できなくなっている可能性があります。
                    </div>
                    <div class="step step3">
                        <h6>3. フィードバックを閲覧してください</h6>
                        <div class="image clearfix">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                正解の問題には&check;、不正解の問題には✗が表示されます。<br>
                                また、採点者のコメントがある場合には問題の解答の下に表示されます。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-column rounded" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Topic1" aria-expanded="false" aria-controls="Topic1">
                    Topic1
                </a>
                <div class="collapse" id="Topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>