<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>
<!--checked-->

<body>
    <nav class="navbar navbar-dark ">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="container-fluid" style="max-width: 90vw;">
        <div class="row">
            <div class="col-md-10 col-sm-12 rounded" id="BreadCrumb">
                <ol class="breadcrumb my-auto">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">成績を確認する</a></li>
                    <li class="breadcrumb-item active" aria-current="page">成績を確認する</li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">成績を確認する</h3>
                    <div>
                        成績簿ツールから、提出課題についた点数を一覧することができます。<br>
                        <a
                            href="/templates/assignment_details.htm#feedback">課題の詳細ページでフィードバックを閲覧</a>することもできますので、合わせてご確認ください。
                    </div>
                    <div class="mt-4">
                        成績を確認するには、以下の手順を実行してください。
                    </div>
                    <div class="step step1">
                        <h5>1. 「成績簿」ページへ遷移する</h5>
                        <div class="image">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>各授業ページの「成績簿」タブをクリックして、「成績簿」ページに移ってください。</p>
                        </div>
                    </div>
                    <div class="step step2">
                        <h5>2. 成績を確認する</h5>
                        <div class="image">
                            <img src="" alt="">screenshot
                        </div>
                        <div class="instructions">
                            <p>
                                教授が採点した課題の一覧が表示されます。各課題について、以下の情報が表示されます。
                            </p>
                            <ul>
                                <li>課題のタイトル</li>
                                <li>点数（あなたの得点/満点）</li>
                                <li>課題の提出締切日</li>
                                <li>教授のコメント</li>
                            </ul>
                            <p>
                                ※各項目をクリックすることで並べ替えが可能です。<br>
                                ※タイトル右の[グラフ]をクリックすると得点分布が閲覧できます。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-column rounded" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Topic1" aria-expanded="false" aria-controls="Topic1">
                    Topic1
                </a>
                <div class="collapse" id="Topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>