<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandA Guide</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style_for_lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../static/css/Style_for_sm.css" media="screen and (max-width: 768px)">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a href="#" class="navbar-brand">PandA</a>
    </nav>
    <div class="container-fluid" style="max-width: 90vw;">
        <div class="row">
            <div class="col-md-10 col-sm-12" id="BreadCrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">科目ページにアクセスする</a></li>
                    <li class="breadcrumb-item active" aria-current="page">科目ページとは</li>
                </ol>
            </div>
            <div class="col-md-10 col-sm-12" id="Main">
                <div>
                    <h3 class="Article_title">科目ページとは</h3>
                    <div
                        class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                        PandAにログインすると、ホーム画面が表示されます。<br>
                        ホームには今日のメッセージ、授業のお知らせ、カレンダー、メッセージ通知が表示されます。
                        上のナビゲーションバーに表示されている科目が登録されている授業へのリンクです。(&#9312;)
                        リンクをクリックすると各授業の科目ページに遷移できます。
                        各授業の科目ページでは各授業の概要、リソース、成績、ZOOM授業のリンクの閲覧・課題、クイズ等の提出などが行えます。
                        科目ページで行える操作について詳しくは以下をご覧ください。
                        <ul>
                            <li><a href="#">授業資料を閲覧・ダウンロードする</a></li>
                            <li><a href="#">「課題」欄で課題を提出する</a></li>
                            <li><a href="#">「テスト・クイズ」でテストを受ける・クイズに答える</a></li>
                            <li><a href="#">「提出箱」で課題を提出する</a></li>
                            <li><a href="#">成績を見る</a></li>
                            <li><a href="#">メディアギャラリで授業動画を見る</a></li>
                            <li><a href="#">授業のお知らせを確認する</a></li>
                            <li><a href="#">フォーラムやチャットルームでメッセージを投稿/閲覧する</a></li>
                            <li><a href="#">外部サイト、ツールを利用する</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-column" id="Sidebar">
                Sidebar
                <a data-toggle="collapse" href="#Topic1" aria-expanded="false" aria-controls="Topic1">
                    Topic1
                </a>
                <div class="collapse" id="Topic1">
                    <div class=" d-flex flex-column">
                        <a href="#">Link1</a>
                        <a href="#">Link2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid" id="footer">
            <div class="row">
                <h3 class="mx-auto mt-5">京都大学 京都大学情報環境機構</h3>
            </div>
        </div>
    </footer>

</body>

</html>