<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static//css/original.css" type="text/css">
    </head>
    <body>
        <div>
            <h1 >科目ページとは</h1>
            <div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                PandAにログインすると、ホーム画面が表示されます。<br>
                ホームには今日のメッセージ、授業のお知らせ、カレンダー、メッセージ通知が表示されます。
                上のナビゲーションバーに表示されている科目が登録されている授業へのリンクです。(&#9312;)
                リンクをクリックすると各授業の科目ページに遷移できます。
                各授業の科目ページでは各授業の概要、リソース、成績、ZOOM授業のリンクの閲覧・課題、クイズ等の提出などが行えます。
                科目ページで行える操作について詳しくは以下をご覧ください。
                <ul>
                    <li><a href="#">授業資料を閲覧・ダウンロードする</a></li>
                    <li><a href="#">「課題」欄で課題を提出する</a></li>
                    <li><a href="#">「テスト・クイズ」でテストを受ける・クイズに答える</a></li>
                    <li><a href="#">「提出箱」で課題を提出する</a></li>
                    <li><a href="#">成績を見る</a></li>
                    <li><a href="#">メディアギャラリで授業動画を見る</a></li>
                    <li><a href="#">授業のお知らせを確認する</a></li>
                    <li><a href="#">フォーラムやチャットルームでメッセージを投稿/閲覧する</a></li>
                    <li><a href="#">外部サイト、ツールを利用する</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>