<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static//css/original.css" type="text/css">
    </head>
    <body>
        <div>
            <h1 >授業資料ページへの行き方</h1>
            <div class="title instructions screensteps-textblock screensteps-wrapper--introduction screensteps-wrapper">
                授業資料ページは各授業ページ（コースサイトとも言います）ごとに用意されていますので、まずは授業ページに移動します。授業ページへの移動の仕方は<a href=#>こちら</a>をご確認ください。<br>
                下の画面にある通り、授業ページの左ツールバーから「授業資料」あるいは「リソース」あるいは「Resouces」を選択すると、授業資料ページに遷移します。<br>
                (ここにスクリーンショットが入ります)
            </div>
        </div>

    </body>
</html>